{% extends 'base.html' %}
{% block content %}
{% load static %}


<!- NAV BAR -!>
{% include 'nav-bar.html' %}

<style type="text/css">
	p {
		color: white;
	}
</style>
<div class="container m-auto m-3 mt-4 mb-4 ">
	<h1 class="text-center display-4" style="color:white; text-shadow: 1px 1px black;">About The Seminar</h1>
	<div class="container shadow m-3 p-5 m-auto">

	<p class="p5">Retirement planning means preparing today for your future life so that you continue to meet all your goals and dreams independently. This includes setting your retirement goals, estimating the amount of money you will need, and investing to grow your retirement savings (Icici Prudential Life Insurance).</p>

	<p>Coach Rona Marie Iglesia, a licensed financial advisor in Pru-Life Uk, has tackled the fact that we are estimated to live for approximately 28,000 days or 80 years, proving that life has an end, and that we will all die soon. In this life full of unavoidable events, the best thing we can do to help our loved ones is to get insured. There are numerous life insurance companies in the Philippines that can help you establish financial and life security. Bottom line, Cbet 22-804A's webinar emphasized that the best time to get insured is today, not tomorrow, and to save more to achieve financial independence.</p>

	</div>
</div>

{% endblock content %}