<!-- Button trigger modal -->
<style type="text/css">
  .secondary a{
    color: grey;
    text-decoration: none;
  }
</style>
<a type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Click Here For Instructions
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Please  like and follow the official accounts of our sponsors,
        and rename the file to: </strong>𝙿𝚕𝚎𝚊𝚜𝚎 𝚕𝚒𝚔𝚎 𝚊𝚗𝚍 𝚏𝚘𝚕𝚕𝚘𝚠 𝚝𝚑𝚎 𝚘𝚏𝚏𝚒𝚌𝚒𝚊𝚕 𝚊𝚌𝚌𝚘𝚞𝚗𝚝𝚜 𝚘𝚏 𝚘𝚞𝚛 𝚜𝚙𝚘𝚗𝚜𝚘𝚛𝚜, 𝚊𝚗𝚍 𝚛𝚎𝚗𝚊𝚖𝚎 𝚝𝚑𝚎 𝚏𝚒𝚕𝚎 𝚝𝚘:<br><br>
        𝙎𝙀𝘾𝙏𝙄𝙊𝙉 𝘾𝙊𝘿𝙀_𝙇𝘼𝙎𝙏 𝙉𝘼𝙈𝙀_𝟕/𝟏𝟏𝙁𝘽 
        𝟏. 𝟕/𝟏𝟏 𝐍. 𝐃𝐨𝐦𝐢𝐧𝐠𝐨
        <a href="https://www.facebook.com/st158ndomingo" target="_blank">https://www.facebook.com/st158ndomingo</a><br><br>
        𝙎𝙀𝘾𝙏𝙄𝙊𝙉 𝘾𝙊𝘿𝙀_𝙇𝘼𝙎𝙏 𝙉𝘼𝙈𝙀_𝙃𝘾𝙁𝘽
        𝟐. 𝐇𝐨𝐟𝐚𝐢𝐜𝐞𝐬𝐬 𝐂𝐨𝐥𝐥𝐞𝐜𝐭𝐢𝐨𝐧
        <a href="https://www.facebook.com/Hofaicess-Collection-115291671016289" target="_blank"> https://www.facebook.com/Hofaicess-Collection-115291671016289</a><br><br>
        𝙎𝙀𝘾𝙏𝙄𝙊𝙉 𝘾𝙊𝘿𝙀_𝙇𝘼𝙎𝙏 𝙉𝘼𝙈𝙀_𝘾𝙁𝘾𝙁𝘽
        𝟑. 𝐂𝐚𝐭𝐞𝐚𝐥𝐢𝐧𝐚 𝐅𝐨𝐨𝐝 𝐂𝐨𝐫𝐧𝐞𝐫
        <a href="https://www.facebook.com/Catealinaph/" target="_blank">https://www.facebook.com/Catealinaph/</a><br><br>
        𝙋𝙇𝙀𝘼𝙎𝙀 𝙏𝘼𝙆𝙀 𝙉𝙊𝙏𝙀 that we will require you to submit the screenshot that you have liked the official Facebook pages of our sponsors upon REGISTRATION.
      </div>
      <div class="modal-footer float-end">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
