<!-- Button trigger modal -->
<a class="nav-link" style="color:white;" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Instructions
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <strong>Please  like and follow the official accounts of our sponsors,
        and rename the file to:</strong><br><br>
        <strong>SECTION CODE_LAST NAME_7/11FB</strong><br>
        <strong>1. 7.11 N. Domingo</strong>
        <a href="https://www.facebook.com/st158ndomingo" target="_blank">https://www.facebook.com/st158ndomingo</a><br><br>
        <strong>SECTION CODE_LAST NAME_HCFB</strong><br>
        <strong>2. Hofaicess Collection</strong>
        <a href="https://www.facebook.com/Hofaicess-Collection-115291671016289" target="_blank"> https://www.facebook.com/Hofaicess-Collection-115291671016289</a><br><br>
        <strong>SECTION CODE_LAST NAME_CFCFB</strong>
        <strong>3. Catealina Food Corner</strong>
        <a href="https://www.facebook.com/Catealinaph/" target="_blank">https://www.facebook.com/Catealinaph/</a><br><br>
        <strong>PLEASE TAKE NOTE </strong>that we will require you to submit the screenshot that you have liked the official Facebook pages of our sponsors upon REGISTRATION.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>