{% extends 'base.html' %}
{% block content %}
{% load static %}


<!- NAV BAR -!>
{% include 'nav-bar.html' %}

<style type="text/css">
	p {
		color: white;
	}
</style>
<div class="container m-auto m-3 mt-4 mb-4">
	<h1 class="text-center display-4" style="color:white; text-shadow: 1px 1px black;">Narrative Report</h1>


	<div class="container shadow m-3 p-5  m-auto">

	<p class="p5">On April 30, 2022, at exactly nine o'clock AM (9:00AM) in the morning, a CBET22-804A have a successful seminar entitled "Making the Unnatural Natural: Begin Saving for Retirement Today not Tomorrow". We formally started the program with a prayer followed by national anthem and RTU Hymn. And our guest speaker Ms. Rona Marie Iglesia share her knowledge about starting to save money for retirement

	She opened a new door for us to have an in-depth knowledge in Making the Unnatural Natural: Begin Saving for Retirement Today not Tomorrow. Her lecture will surely help all participants manage their finances over expenses to invest and save money for emergency fund and especially for early retirement.

	Indeed, the morning webinar session held on April 30, 2022, via

	Zoom meeting was full of fruitful learnings. During the seminar, each committee experience challenges. We experienced some technical problems it terms of background music, but it was still managed with the help of other committee

	Indeed, teamwork makes

	everything works perfectly. All committees are extremely appreciated for their exceptional and giving a hundred percent efforts to prepare. lead and accomplish a successful seminar.

	We also appreciate our dearest adviser, Prof. John Michael Armisa for his support until the end of seminar. His presence and efforts starting from the preparation up until the end of the seminar. We hope that this kind of seminar will continue further for the beneficial of every student and develop their skills in leading this kind of business seminar. Never stop learning, never stop to improve ourselves. We failed but this is part of our life to make a better person's and be ready in a real world. Hoping that everyone achieves their dreams, become a successful in their life and a financial stable someday.
	</p>
</div>
</div>

{% endblock content %}