
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgba(255, 255, 255,.7); border-bottom: 1px solid grey;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">RTU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'seminar'%}">Seminar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Records
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'record-of-practice' %}">Record of Practice</a></li>
            <li><a class="dropdown-item" href="{% url 'record-of-webinar' %}">Record of Webinar</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Videos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'opening' %}">Opening</a></li>
            <li><a class="dropdown-item" href="{% url 'short-clips' %}">Short Clips</a></li>
            <li><a class="dropdown-item" href="{% url 'teaser' %}">Teaser</a></li>
            <li><a class="dropdown-item" href="{% url 'finance-radio' %}">Finance Radio</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documentation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'others-for-documentation' %}">Others for Documentation</a></li>
            <li><a class="dropdown-item" href="{% url 'photo-op-with-ms-rona' %}">Photo OP with Ms. Rona</a></li>
            <li><a class="dropdown-item" href="{% url 'photo-op-with-participants' %}">Photo OP with Participants</a></li>
            <li><a class="dropdown-item" href="{% url 'presentation-slides' %}">Presentation Slides</a></li>
            <li><a class="dropdown-item" href="{% url 'speaker' %}">Speaker</a></li>
          </ul>
        </li>

      </ul>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <li class="nav-item">
        {% include 'modal.html' %}
      </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
