{% extends 'base.html' %}
{% block title %}Opening{% endblock title%}
{% block content %}
{% load static %}
<!- NAV BAR -!>
{% include 'nav-bar.html' %}
<div class="container m-auto m-3 mt-4 text-center">
	<h1 class="btn-warning rounded" style="color:white;">Opening</h1>
	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-primary rounded">Lupang Hinirang</h2>
		<div class="embed-responsive embed-responsive-16by9 m-auto">
  			<iframe src="https://drive.google.com/file/d/1Kqlx3c3rS-1DSQSpJHz_ZDLsg_Lj8TJ0/preview"allow="autoplay"></iframe>
		</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-primary rounded" >Opening Prayer</h2>
		<div class="embed-responsive embed-responsive-16by9 m-auto">
  			<iframe src="https://drive.google.com/file/d/1GNNogfqg3R2rM1q1LnWiUXXpcqOoWfef/preview"allow="autoplay"></iframe>
		</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-primary rounded" >RTU March</h2>
		<div class="embed-responsive embed-responsive-16by9 m-auto">
  			<iframe src="https://drive.google.com/file/d/1G-8_Z21R9wdj4uqHdhppRgY44MnjpZr9/preview"allow="autoplay"></iframe>
		</div>
	</div>
</div>

{% endblock content %}