{% load static %}
<div class="person-container container border border-4 border-danger rounded mb-3">
		<div class="row">
			<div class="col-12">
            	<div class="d-flex flex-column align-items-center text-center p-3 py-5 "><img class="rounded-circle mt-5" width="250px" src="{% static 'images/person/person_01.png' %}"style="box-shadow: 0 5px 5px 0 rgba(68,68,68,0.5);"><span class="person-name">COACH RONA MARIE IGLESIA</span><span class="person-role">GUEST SPEAKER</span><span> </span></div>
       		 </div>

       		 <div class="col">
            	<div class="d-flex flex-column align-items-center text-center p-3"><img class="rounded-circle mt-5" width="200px" src="{% static 'images/person/person_02.png' %}"style="box-shadow: 0 5px 5px 0 rgba(68,68,68,0.5);"><span class="person-name">QUENNIE ANNE BERITO</span><span class="person-role">HOST</span><span> </span></div>
       		 </div>

       		 <div class="col">
            	<div class="d-flex flex-column align-items-center text-center p-3"><img class="rounded-circle mt-5" width="200px" src="{% static 'images/person/person_06.png' %}"style="box-shadow: 0 5px 5px 0 rgba(68,68,68,0.5);"><span class="person-name">NIEL MARK JAGONOS</span><span class="person-role">HOST</span><span> </span></div>
       		 </div>

       		 <div class="col">
            	<div class="d-flex flex-column align-items-center text-center p-3 py-3"><img class="rounded-circle mt-5" width="200px" src="{% static 'images/person/person_04.png' %}"style="box-shadow: 0 5px 5px 0 rgba(68,68,68,0.5);"><span class="person-name" >JOHN MICHAEL ARMISA</span><span class="person-role">BTS ADVISER</span><span> </span></div>
       		 </div>
		</div>
	</div>