{% extends 'base.html' %}
{% block content %}
{% load static %}

<!- NAV BAR -!>
{% include 'nav-bar.html' %}
<div class="container m-auto m-3 mt-4 mb-4 text-center">
	<h1 class="btn-warning rounded" style="color:white;">Photo OP With Participants</h1>
	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-01">
				<img src="{% static 'images/documentation/photo-participants/01.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/01.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-02">
				<img src="{% static 'images/documentation/photo-participants/02.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/02.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-03">
				<img src="{% static 'images/documentation/photo-participants/03.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-03" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/03.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-04">
				<img src="{% static 'images/documentation/photo-participants/04.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-04" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/04.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-05">
				<img src="{% static 'images/documentation/photo-participants/05.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-05" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/05.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-06">
				<img src="{% static 'images/documentation/photo-participants/06.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-06" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/06.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>




	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-07">
				<img src="{% static 'images/documentation/photo-participants/07.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-07" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/07.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-08">
				<img src="{% static 'images/documentation/photo-participants/08.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-08" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/08.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>




	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-09">
				<img src="{% static 'images/documentation/photo-participants/09.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-09" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/09.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-10">
				<img src="{% static 'images/documentation/photo-participants/10.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/10.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-11">
				<img src="{% static 'images/documentation/photo-participants/11.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/11.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-12">
				<img src="{% static 'images/documentation/photo-participants/12.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/12.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-13">
				<img src="{% static 'images/documentation/photo-participants/13.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-13" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/13.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-14">
				<img src="{% static 'images/documentation/photo-participants/14.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-14" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/14.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-15">
				<img src="{% static 'images/documentation/photo-participants/15.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/15.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-16">
				<img src="{% static 'images/documentation/photo-participants/16.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-16" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/16.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-17">
				<img src="{% static 'images/documentation/photo-participants/17.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-17" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/17.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-18">
				<img src="{% static 'images/documentation/photo-participants/18.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-18" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/18.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>




	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-19">
				<img src="{% static 'images/documentation/photo-participants/19.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-19" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/19.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-20">
				<img src="{% static 'images/documentation/photo-participants/20.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-20" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/20.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-21">
				<img src="{% static 'images/documentation/photo-participants/21.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-21" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/21.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-22">
				<img src="{% static 'images/documentation/photo-participants/22.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-22" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/22.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>



		<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-23">
				<img src="{% static 'images/documentation/photo-participants/23.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-23" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/23.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-24">
				<img src="{% static 'images/documentation/photo-participants/24.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-24" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/24.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>
	

		<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-25">
				<img src="{% static 'images/documentation/photo-participants/25.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-25" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/25.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-26">
				<img src="{% static 'images/documentation/photo-participants/26.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-26" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/26.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>



		<div class="row">
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-27">
				<img src="{% static 'images/documentation/photo-participants/27.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-27" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/27.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
		<div class="col-6">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-28">
				<img src="{% static 'images/documentation/photo-participants/28.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-28" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/28.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>

	</div>

		<div class="row">
		<div class="col-12">
			<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-parti-modal-29">
				<img src="{% static 'images/documentation/photo-participants/29.png' %}" class="img-fluid" alt="...">
				<!-- Modal -->
					<div class="modal fade" id="photo-parti-modal-29" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-fullscreen">
					    <div class="modal-content">
					      <div class="modal-body">
					        <img src="{% static 'images/documentation/photo-participants/29.png' %}" class="img-fluid" alt="...">
					      </div>
					    </div>
					  </div>
					</div>
			</div>
		</div>
	</div>









</div>

{% endblock content%}

