{% extends 'base.html' %}
{% block content %}
{% load static %}

<!- NAV BAR -!>
{% include 'nav-bar.html' %}
<div class="container m-auto m-3 mt-4 mb-4 text-center">
	<h1 class="btn-warning rounded" style="color:white;">Photo OP With Ms. Rona</h1>
	<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-rona-modal-01">
		<img src="{% static 'images/documentation/photo-rona/01.png' %}" class="img-fluid"  alt="...">
		<!-- Modal -->
			<div class="modal fade" id="photo-rona-modal-01" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-fullscreen">
			    <div class="modal-content">
			      <div class="modal-body">
			        <img src="{% static 'images/documentation/photo-rona/01.png' %}" class="img-fluid"  alt="...">
			      </div>
			    </div>
			  </div>
			</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-rona-modal-02">
		<img src="{% static 'images/documentation/photo-rona/02.png' %}" class="img-fluid"  alt="...">
		<!-- Modal -->
			<div class="modal fade" id="photo-rona-modal-02" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-fullscreen">
			    <div class="modal-content">
			      <div class="modal-body">
			        <img src="{% static 'images/documentation/photo-rona/02.png' %}" class="img-fluid"  alt="...">
			      </div>
			    </div>
			  </div>
			</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-rona-modal-03">
		<img src="{% static 'images/documentation/photo-rona/03.png' %}" class="img-fluid"  alt="...">
		<!-- Modal -->
			<div class="modal fade" id="photo-rona-modal-03" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-fullscreen">
			    <div class="modal-content">
			      <div class="modal-body">
			        <img src="{% static 'images/documentation/photo-rona/03.png' %}" class="img-fluid"  alt="...">
			      </div>
			    </div>
			  </div>
			</div>

	</div>
	<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-rona-modal-04">
		<img src="{% static 'images/documentation/photo-rona/04.png' %}" class="img-fluid"  alt="...">
		<!-- Modal -->
			<div class="modal fade" id="photo-rona-modal-04" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-fullscreen">
			    <div class="modal-content">
			      <div class="modal-body">
			        <img src="{% static 'images/documentation/photo-rona/04.png' %}" class="img-fluid"  alt="...">
			      </div>
			    </div>
			  </div>
			</div>

		</div>
	<div class="container shadow m-3 p-3 text-center m-auto" data-bs-toggle="modal" data-bs-target="#photo-rona-modal-05">
		<img src="{% static 'images/documentation/photo-rona/05.png' %}" class="img-fluid"  alt="...">
		<!-- Modal -->
			<div class="modal fade" id="photo-rona-modal-05" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-fullscreen">
			    <div class="modal-content">
			      <div class="modal-body">
			        <img src="{% static 'images/documentation/photo-rona/05.png' %}" class="img-fluid"  alt="...">
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>


</div>

{% endblock content%}



