{% extends 'base.html' %}
{% block content %}
{% load static %}

<!- NAV BAR -!>
{% include 'nav-bar.html' %}
<div class="container m-auto m-3 mt-4 mb-4 text-center">
	<h1 class="display-4" style="color:white; text-shadow: 1px 1px black;">Presentation Slides</h1>
	<div class="container shadow m-3 p-3 text-center m-auto">
    <div id="carouserl-presentation-slide" class="carousel slide carousel-fade" data-bs-interval="false" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/documentation/presentation-slides/01.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/02.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/03.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/04.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/05.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/06.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/07.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/08.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/09.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/10.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/11.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/12.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/13.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/14.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/15.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/16.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/17.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/18.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/19.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/20.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/21.png' %}" class="img-fluid"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/documentation/presentation-slides/22.png' %}" class="img-fluid"  alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouserl-presentation-slide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouserl-presentation-slide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

  </div>
</div>


{% endblock content%}



