{% extends 'base.html' %}
{% block title %}Business Trends Seminar 2022{% endblock title %}
{% block content %}
{% load static %}
<!- NAV BAR -!>
{% include 'nav-bar.html' %}
<div class="container m-auto m-3 mt-4 text-center">
	<h1 class="btn-warning rounded" style="color:white;">Records Of Webinar</h1>
	<div class="container shadow m-3 p-3 text-center m-auto">
		<div class="embed-responsive embed-responsive-16by9 m-auto">
  			<iframe src="https://drive.google.com/file/d/1GMvMrhks_cE1B_eNMkRFvGFvnqdD7OM7/preview" allow="autoplay"></iframe>
		</div>
	</div>
</div>
{% endblock content%}

