{% extends 'base.html' %}
{% block content %}
{% load static %}

<style type="text/css">
	.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

</style>


<!- NAV BAR -!>
{% include 'nav-bar.html' %}
	
<div class="container m-auto m-3 mt-4 mb-4 text-center">
	<h1 class="display-4" style="color:white; text-shadow: 1px 1px black;" style="color:white;">Short Clips</h1>
		<h2 class="btn-warning p-2 rounded" style="color:white; text-shadow:.7px .7px black;">Retirement Presentation</h2>
	<div class="container shadow m-3 p-3 text-center m-auto">
		<div class="video-container m-auto">
  			<iframe class="responsive-iframe" src="https://drive.google.com/file/d/1YOHj1MhnehEajWJZt9WEZU5YJzggA6Yk/preview" allowfullscreen allow="autoplay"></iframe>
		</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-warning p-2 rounded" style="color:white; text-shadow:.7px .7px black;">Retirement Video</h2>
		<div class="video-container m-auto">
  			<iframe class="responsive-iframe" src="https://drive.google.com/file/d/1rKc7nTI_Lyzl_WVzBn3BsxHOoVH8RWrb/preview" allowfullscreen allow="autoplay"></iframe>
		</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-warning p-2 rounded" style="color:white; text-shadow:.7px .7px black;">Why Save For Retirement?</h2>
		<div class="video-container m-auto">
  			<iframe class="responsive-iframe" src="https://drive.google.com/file/d/1fFBK5r0HpJLswzW0Ud_02DKLkztTiotg/preview" allowfullscreen allow="autoplay"></iframe>
		</div>
	</div>

	<div class="container shadow m-3 p-3 text-center m-auto">
		<h2 class="btn-warning p-2 rounded" style="color:white; text-shadow:.7px .7px black;">Why Savings Are So Important?</h2>
		<div class="video-container m-auto">
  			<iframe class="responsive-iframe" src="https://drive.google.com/file/d/1fihnrHcyQF9l0IoIxxIvEUIbXEcqrTcc/preview" allowfullscreen allow="autoplay"></iframe>
  		</div>
	</div>
</div>
{% endblock content %}

	
	
	

	

	